@import "src/styles/variables";

.card-wrapper {
  width: $spacing-width;
  height: $spacing-height;
  border-radius: $border-radius-s;
  background: url('~src/assets/images/card-background-shape.svg');
  background-size: cover;

  .overlay {
    position: relative;
    border-radius: $border-radius-s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.background-mc {
      background: $mastercard_color;
    }

    &.background-visa {
      background: $visa_color;
    }
  }
}

.card {
  padding: $spacing-m $spacing-base;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .logo-image {
      width: $spacing-4xl;
    }

    &__right {
      display: flex;
      align-items: baseline;

      .cvc {
        padding-right: $spacing-base;
      }
    }
  }

  .bottom-row {
    .name {
      padding-bottom: $spacing-s;
    }

    &__right {
      display: flex;
      justify-content: space-between;

      .preserve-tab {
        white-space: pre-wrap;
      }

      .edit-image {
        width: $spacing-base;
        mask: url('~src/assets/images/edit-icon.svg') no-repeat center;
        background-color: $white;
        cursor: pointer;
      }
    }
  }
}

.color-visa {
  color: $grey-70;
}

.color-mc {
  color: $grey-20;
}

.bold {
  font-weight: $font-weight-bold;
}

.white {
  color: $white;
}

.small {
  font-size: $font-size-s;
}

.medium {
  font-size: $font-size-basem;
  font-weight: $font-weight-bold;
  padding-top: $spacing-xxs;
}

