<div class="card-wrapper">
    <div class="overlay">
        <div class="card">
            <div class="top-row">
                <img class="logo-image" src="assets/visa-logo.svg" alt="mastercard logo">
                <div class="top-row__right">
                    <div>
                        <div class="cvc black small">CVC</div>
                        <div class="white medium">009</div>
                    </div>
                    <div>
                        <div class="black small">EXPIRES</div>
                        <div class="white medium">08/21</div>
                    </div>
                </div>
            </div>
            <div class="bottom-row">
                <div class="white medium name">John Cabruci</div>
                <div class="bottom-row__right">
                    <div class="black medium">1234&nbsp;&nbsp;&nbsp;&nbsp;5678&nbsp;&nbsp;&nbsp;&nbsp;9012&nbsp;&nbsp;&nbsp;&nbsp;3456</div>
                    <div class="edit-image" (click)="onEditCard()"></div>
                </div>
            </div>
        </div>
    </div>
</div>
