@import "src/styles/variables";

.close-button {
  position: relative;
  left: $spacing-5xl;
  bottom: $spacing-xxs;
  cursor: pointer;
}

.title {
  font-size: $font-size-m;
  font-weight: $font-weight-bolder;
  margin-bottom: $spacing-xl;
}

.card-wrapper {
  position: relative;
  margin-bottom: $spacing-m;
}

.status-icon {
  position: absolute;
  top: $spacing-s;
  left: $spacing-5xl;
}

.confirm-button {
  margin: $spacing-m 0 0 0;
  background-color: $purple-60;
  color: $white;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  width: $spacing-width;
  padding: $spacing-s;
  border-radius: $border-radius-m;
}

.delete-button {
  margin: 0 0 $spacing-m 0;
  color: $grey-20;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}
