//font-sizes
$font-size-xs: 10px;
$font-size-s: 14px;
$font-size-base: 16px;
$font-size-basem: 20px;
$font-size-m: 24px;
$font-size-l: 30px;

//font-weights
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;


//spacings
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-base: 24px;
$spacing-m: 32px;
$spacing-l: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;
$spacing-3xl: 70px;
$spacing-4xl: 80px;
$spacing-5xl: 380px;
$spacing-width: 400px;
$spacing-height: 240px;

//border-radiuses
$border-radius-s: 16px;
$border-radius-m: 24px;
$border-radius-l: 100px;


//colors
$purple-60: #4C00C2;
$purple-90: #32007E;
$purple: #3B058E;
$background: #E5E5E5;
$white: #FFFFFF;
$grey-20: #D3D8E1;
$grey-50: #798291;
$grey-70: #444E5D;
$grey-90: #1A212C;
$green-30: #19AC51;
$red-30: #FC484C;

$visa_color: rgb(4, 201, 199, 0.95);
$mastercard_color: rgba(59, 5, 142, 0.95);
